#canvas > canvas {
	border: 1px solid black;
}

#menu {
	position: absolute;
	width: 801px;
	height: 451px;
	overflow: hidden;
}

#main-menu {
	position: absolute;
	width: inherit;
	bottom: -4px;
	height: 106px;
}

#main-menu > div {
	text-align: center;
	position: absolute;
	bottom: -68px;
	width: inherit;
}

#options-menu {
	width: 256px;
	height: 156px;
	background-image: url("../img/ui/options_window_background.png");
	box-shadow: 10px 10px 10px rgba(0,0,0,0.75);
}

#options-menu ul {
	padding: 0;
	text-align: center;
	display: inline-block;
	margin: 4px;
}

#options-menu li {
	list-style-type: none;
	font-family: arial;
	font-weight: bold;
	font-size: 29px;
	color: #c41e68;
	line-height: 32px;
}

#options-menu li span:hover {
	color: #e6408a;
}

.modal {
	background-color: rgba(0,0,0,0.3);
}

.button {
	cursor: pointer;
	display: inline-block;
}

.tab {
	box-shadow: 10px 10px 10px rgba(0,0,0,0.75);
}

.options {
	margin: 0 10%;
}

.music {
	margin: 21px 0;
}

.music-off {
	color: #7b7273;
}

#options-menu li span.music-off:hover {
	color: #aba2a3;
}

.outer {
	display: table;
	position: absolute;
	height: inherit;
	width: inherit;
}

.middle {
	display: table-cell;
	vertical-align: middle;
}

.inner {
	margin: 0 auto;
	text-align: center;
}
