#menu {
	position: absolute;
	width: 800px;
	height: 450px;
	overflow: hidden;
}

#main-menu {
	position: absolute;
	width: inherit;
	bottom: -18px;
	height: 106px;
}

#main-menu > div {
	text-align: center;
	position: absolute;
	bottom: -60px;
	width: inherit;
}

#main-menu:hover > div {
	-webkit-animation: show 0.5s;
	-webkit-animation-fill-mode: forwards;
	animation: show 0.5s;
	animation-fill-mode: forwards;
}

@keyframes show {
	from { bottom: -60px; }
    to { bottom: 0px; }
}

@-webkit-keyframes show {
	from { bottom: -60px; }
    to { bottom: 0px; }
}

.button {
	cursor: pointer;
	box-shadow: 10px 10px 10px rgba(0,0,0,192);
}

.options {
	margin: 0 10%;
}
