#canvas > canvas {
	border: 1px solid black;
}

#menu {
	position: absolute;
	width: 801px;
	height: 451px;
	overflow: hidden;
}

.modal {
	background-color: rgba(0,0,0,0.3);
}

.button {
	cursor: pointer;
	display: inline-block;
}

.outer {
	display: table;
	position: absolute;
	height: inherit;
	width: inherit;
}

.middle {
	display: table-cell;
	vertical-align: middle;
}

.inner {
	margin: 0 auto;
	text-align: center;
}
