#tab-menu {
	position: absolute;
	width: inherit;
	bottom: -4px;
	height: 106px;
}

#tab-menu > div {
	text-align: center;
	position: absolute;
	bottom: -68px;
	width: inherit;
}

.tab {
	box-shadow: 10px 10px 10px rgba(0,0,0,0.75);
}

.options {
	margin: 0 10%;
}

